<h1>Anomalies:</h1>
{{#each foo}}
{{this}}
{{/each}}
<select name="list" id="list" accesskey="target">
    <option value='none' selected>Group Anomalies By...</option>
    <option value="/anomalies-employees">Employees</option>
    <option value="/anomalies-types">Types</option>
    <option value="/anomalies-groups">Groups</option>
</select>
<input type=button value="Go" onclick="goToNewPage()" />
<br>
<table>
    <thead> 
        <th>ID</th>
        <th>Timestamp</th>
        <th>Employee</th>
        <th>Group</th>
        <th>Type</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </thead>
    <tbody> 
        {{#each view}}
        <tr> 
            <td>{{id}}</td>
            <td>{{timestamp}}</td>
            <td>{{Employee}}</td>
            <td>{{Employee_Group}}</td>
            <td>{{Type}}</td>
            <td>{{latitude}}</td>
            <td>{{longitude}}</td>
            <td><button onclick="deleteAnomaly({{id}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody>
</table>
