<h1>Moves:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th>
        <th>Type</th>
    </thead>
    <tbody> 
        {{#each moves}}
        <tr> 
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td><button onclick="deleteMove({{id}})">Delete</button></td>
            <td><a href="/moves/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addmove" action="/moves" method="post">
    Name: <input type="text" name="name"><br>
    Type: <select name="tid">
        {{#each type}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table> 
<br>
<a href="/">Return to homepage</a>
