<h1>Pokemon and Moves Relationships:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Pokemon</th>
        <th>Move</th>
    </thead>
    <tbody> 
        {{#each pokemon_moves}}
        <tr> 
            <td>{{pokeid}}</td>
            <td>{{moveid}}</td>
            <td><button onclick="deletePoke_Move({{id}})">Delete</button></td>
            <td><a href="/pokemon_moves/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addpoke_move" action="/pokemon_moves" method="post">
    Pokemon: <select name="pid">
        {{#each poke}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Move: <select name="mid">
        {{#each move}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table> 
<br>
<a href="/">Return to homepage</a>
