<h1>Pokemon and Types Relationships:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Pokemon</th>
        <th>Type</th>
    </thead>
    <tbody> 
        {{#each pokemon_types}}
        <tr> 
            <td>{{pokeid}}</td>
            <td>{{typeid}}</td>
            <td><button onclick="deletePoke_Type({{id}})">Delete</button></td>
            <td><a href="/pokemon_types/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addpoke_type" action="/pokemon_types" method="post">
    Pokemon: <select name="pid">
        {{#each poke}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Type: <select name="tid">
        {{#each type}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table>
<br>
<a href="/">Return to homepage</a>
