<h1>Pokemon and Locations Relationships:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Pokemon</th>
        <th>Location</th>
    </thead>
    <tbody> 
        {{#each pokemon_locations}}
        <tr> 
            <td>{{pokeid}}</td>
            <td>{{locationid}}</td>
            <td><button onclick="deletePoke_Location({{id}})">Delete</button></td>
            <td><a href="/pokemon_locations/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addpoke_location" action="/pokemon_locations" method="post">
    Pokemon: <select name="pid">
        {{#each poke}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Location: <select name="lid">
        {{#each location}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</table>
<br>
<a href="/">Return to homepage</a>
